.navigation-homepage {
  display: flex;
  justify-content: space-between;
} 

.order-online {
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  background: url('../../images/homepage/pizza-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  margin-right: 6px;
  border-radius: 5px;

  p{
    transition: all 0.5s;
  }

  &:hover p{
    transform: translateY(-20px);
  }
}

.book-table {
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  background: url('../../images/homepage/pizza-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  margin-right: 6px;
  border-radius: 5px;

  p{
    transition: all 0.5s;
  }

  &:hover p{
    transform: translateY(-20px);
  }
}

.banner-open {
  background-color: #ff6b6b;
  color: #fff;
  margin-top: 6px;
  height: 120px;
  width: 598px;
  line-height: 0;
  border-radius: 5px;
  margin-bottom: 100px;
} 

.title-hour {
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  padding-top: 40px;
  margin: 0;
} 

.subtitle-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/*carusela*/

.carusel-wrapper {
  margin-bottom: 130px;
} 

.carusel-wrapper .carousel-cell{
  display: flex;
  align-items: center;
  width: 100%;
}

.carusel .carusel-image {
  width: 190px;
  height: 190px;
  object-fit: cover;
} 

.about-carusela {
  margin-left: 35px;
  font-family: 'Roboto';
} 

.amazing-title {
  font-weight: bold;
}

.flickity-button {
  display: none;
}

.flickity-page-dots {
  bottom: -40px !important;
}

/*insta-image*/

.insta-wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
} 

.items-images {
  width: 200px;
  position: relative;
  height: 200px;
  background-color: #000;

  &:hover .image-icons {
    opacity: 1;
  }

  &:hover img {
    opacity: 0.7;
  }

} 

.items-images img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.image-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1s;
} 

.like {
  color: #e55039;
  font-size: 25px;
  margin-left: 15px;
}

.share-insta {
  color: #e55039;
  display: inline-block;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .navigation-homepage {
    flex-direction: column;
  }

  .order-online {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .book-table {
    width: 100%;
  }

  .banner-open {
    width: 100%;
    margin-top: 10px;
  }

  .carusel-wrapper .carousel-cell {
    flex-direction: column;
  }

  .insta-wrapper {
    justify-content: center;
    grid-template-columns: 200px;
  }

}
